[AUTOUPDATE]
# Version of the new pre-release
VERSION=0.3.2-beta.6

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/Holzmusik/LoxBerry-Plugin-MiraiPanel/archive/refs/tags/v0.3.2-beta.6.zip

# URL for further information about this release
INFOURL=https://github.com/Holzmusik/LoxBerry-Plugin-MiraiPanel/releases/tag/v0.3.2-beta.6
